.c-work {
  $self: &;
  @apply relative block no-underline opacity-75 h-64;
  transition: 0.8s;

  &__img {
    transition: 0.4s;
    @apply h-full overflow-hidden;

    > div {
      @apply bg-contain h-full;
    }
  }

  &__title {
    @apply text-grey-dark font-sans font-thin mt-4 text-sm;
  }

  &:hover {
    opacity: 1;

    &__img {
      > div {
        background-size: 110%;
      }

      transition: 0.4s;
    }

    #{$self}__title {
      bottom: 0;
    }
  }
}
